<%- include('userHead') %>

<body style="background-color: rgba(0, 0, 0, 0.137)">
  <!--::header part start::-->
  <header
    style="background-color: rgb(202, 202, 202)"
    class="main_menu home_menu"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span><i></i></span>
            </button>
            <img
              style="height: 40px; width: 40px; margin-bottom: 20px"
              src="/assetsuser/img/logo-removebg-preview.png"
              alt=""
            />
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif">
              P Mart
            </h4>

            <div
              class="collapse navbar-collapse main-menu-item"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="hearer_icon d-flex align-items-center">
              <a href="/logout">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="log-out-outline"
                ></ion-icon>
              </a>
              <a href="/cart">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="cart-outline"
                ></ion-icon>
              </a>
              <a href="/profile">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="person-circle-outline"
                ></ion-icon>
              </a>

              <a href="/whishlist">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="heart-outline"
                ></ion-icon>
              </a>
              <span class="ml-1"> </span>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="search_input" id="search_input_box">
      <div class="container">
        <form class="d-flex justify-content-between search-inner">
          <input
            type="text"
            class="form-control"
            id="search_input"
            placeholder="Search Here"
          />
          <button type="submit" class="btn"></button>
          <span class="ti-close" id="close_search" title="Close Search"></span>
        </form>
      </div>
    </div>
  </header>
  <!-- Header part end-->
  <!-- banner part start-->
  <section class="banner_part mb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="banner_text">
            <div class="banner_text_iner">
              <% banner.forEach((item,index)=>{ %>
              <h1><%= item.name %></h1>
              <p><%=item.description %></p>
              <a href="/products" class="btn_1">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_img" style="margin-bottom: 0px">
      <img
        style="height: 500px; width: 800px"
        src="<%= item.image.url%>"
        alt="#"
        class="img-fluid"
      />
    </div>
    <%} ) %>
  </section>

  <!-- product list start-->
  <section class="single_product_list mt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="single_product_iner">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-sm-6">
                <div class="single_product_img">
                  <img
                    style="height: 400px"
                    src="/assetsuser/img/banner 2.jpg"
                    class="img-fluid"
                    alt="#"
                  />
                  <img
                    style="height: 400px"
                    src="/assetsuser/img/product_overlay.png"
                    alt="#"
                    class="product_overlay img-fluid"
                  />
                </div>
              </div>
              <div class="col-lg-5 col-sm-6">
                <div class="single_product_content">
                  <h5>Started from ₹ 299</h5>
                  <h2>
                    <a href="single-product.html"
                      >Sometimes you find an old bottle from which the soul
                      returns</a
                    >
                  </h2>
                  <a href="/products" class="btn_3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="single_product_iner">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-sm-6">
                <div class="single_product_img">
                  <img
                    style="height: 300px"
                    src="/assetsuser/img/banner 3.webp"
                    class="img-fluid"
                    alt="#"
                  />
                  <img
                    style="height: 300px"
                    src="/assetsuser/img/product_overlay.png"
                    alt="#"
                    class="product_overlay img-fluid"
                  />
                </div>
              </div>
              <div class="col-lg-5 col-sm-6">
                <div class="single_product_content">
                  <h5>Started from ₹ 299</h5>
                  <h2>
                    <a href="single-product.html"
                      >A woman should wear perfume wherever she wants to be
                      kissed</a
                    >
                  </h2>
                  <a href="/products" class="btn_3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="single_product_iner">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-sm-6">
                <div class="single_product_img">
                  <img
                    style="height: 400px"
                    src="/assetsuser/img/banner 4.jpg"
                    class="img-fluid"
                    alt="#"
                  />
                  <img
                    style="height: 400px"
                    src="/assetsuser/img/product_overlay.png"
                    alt="#"
                    class="product_overlay img-fluid"
                  />
                </div>
              </div>
              <div class="col-lg-5 col-sm-6">
                <div class="single_product_content">
                  <h5>Started from ₹ 299</h5>
                  <h2>
                    <a href="single-product.html"
                      >The beautiful perfume is the one that gives us a shock</a
                    >
                  </h2>
                  <a href="/products" class="btn_3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product list end-->

  <!-- client review part here -->
  <section class="client_review">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="client_review_slider owl-carousel">
            <div class="single_client_review">
              <div class="client_img">
                <img src="/assetsuser/img/client.png" alt="#" />
              </div>
              <p>
                "Working in conjunction with humanitarian aid agencies, we have
                supported programmes to help alleviate human suffering.
              </p>
              <h5>- Micky Mouse</h5>
            </div>
            <div class="single_client_review">
              <div class="client_img">
                <img src="/assetsuser/img/client_1.png" alt="#" />
              </div>
              <p>
                "Working in conjunction with humanitarian aid agencies, we have
                supported programmes to help alleviate human suffering.
              </p>
              <h5>- Micky Mouse</h5>
            </div>
            <div class="single_client_review">
              <div class="client_img">
                <img src="/assetsuser/img/client_2.png" alt="#" />
              </div>
              <p>
                "Working in conjunction with humanitarian aid agencies, we have
                supported programmes to help alleviate human suffering.
              </p>
              <h5>- Micky Mouse</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- client review part end -->

  <!-- feature part here -->
  <section class="feature_part section_padding">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <div class="feature_part_tittle">
            <h3>
              Credibly innovate granular internal or organic sources whereas
              standards.
            </h3>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="feature_part_content">
            <p>
              Seamlessly empower fully researched growth strategies and
              interoperable internal or “organic” sources. Credibly innovate
              granular internal or “organic” sources whereas high standards in
              web-readiness.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
          <div class="single_feature_part">
            <img src="/assetsuser/img/icon/feature_icon_1.svg" alt="#" />
            <h4>Credit Card Support</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_feature_part">
            <img src="/assetsuser/img/icon/feature_icon_2.svg" alt="#" />
            <h4>Online Order</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_feature_part">
            <img src="/assetsuser/img/icon/feature_icon_3.svg" alt="#" />
            <h4>Free Delivery</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_feature_part">
            <img src="/assetsuser/img/icon/feature_icon_4.svg" alt="#" />
            <h4>Product with Gift</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- feature part end -->

  <!-- subscribe part here -->
  <section class="subscribe_part section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="subscribe_part_content">
            <h2>Get promotions & updates!</h2>
            <p>
              Seamlessly empower fully researched growth strategies and
              interoperable internal or “organic” sources credibly innovate
              granular internal.
            </p>
            <div class="subscribe_form">
              <input type="email" placeholder="Enter your mail" />
              <a href="#" class="btn_1">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscribe part end -->

  <!--::footer_part start::-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div style="display: flex;flex-direction: row;align-items: center;" class="footer__logo">
              <img
              style="height: 40px; width: 40px; margin-bottom: 20px"
              src="/assetsuser/img/logo-removebg-preview.png"
              alt=""
            />
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif;color: aliceblue;">
              P Mart
            </h4>
            </div>
            <p>
              The customer is at the heart of our unique business model, which
              includes design.
            </p>
            <a href="#"
              ><img src="/assestsmalefashion/img/payment.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">perfums</a></li>
              <li><a href="#">Trending </a></li>

              <li><a href="#">Sale</a></li>
              <li><a href="#">Sale</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>NewLetter</h6>
            <div class="footer__newslatter">
              <p>
                Be the first to know about new arrivals, look books, sales &
                promos!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>
              | Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved |
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>

  
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="/assetsuser/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/assetsuser/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assetsuser/js/bootstrap.min.js"></script>
  <!-- magnific popup js -->
  <script src="/assetsuser/js/jquery.magnific-popup.js"></script>
  <!-- carousel js -->
  <script src="/assetsuser/js/owl.carousel.min.js"></script>
  <script src="/assetsuser/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/assetsuser/js/slick.min.js"></script>
  <script src="/assetsuser/js/jquery.counterup.min.js"></script>
  <script src="/assetsuser/js/waypoints.min.js"></script>
  <script src="/assetsuser/js/contact.js"></script>
  <script src="/assetsuser/js/jquery.ajaxchimp.min.js"></script>
  <script src="/assetsuser/js/jquery.form.js"></script>
  <script src="/assetsuser/js/jquery.validate.min.js"></script>
  <script src="/assetsuser/js/mail-script.js"></script>
  <!-- custom js -->
  <script src="/assetsuser/js/custom.js"></script>

  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</body>

<%- include('footer') %>
